---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import SocialPill from "./SocialPill.astro";

const TAGS = {
  NEXT: {
    name: "Next.Js",
    color: "bg-black text-white",
    icon: NextJS,
  },

  TAILDWIND: {
    name: "Tailwind CSS",
    color: "bg-[#003159]",
    icon: Tailwind,
  },
};

const PROJECTS = [
  {
    title: "Enregla - grabado de patentes",
    description:
      "Creada y diseñada desde cero con Next.Js y Tailwind CSS optimizada en CEO y performance, el diseño previamente se realizo en figma.",
    link: "https://www.enreglaintegral.cl/",
    github: "https://github.com/dmmtdeveloper",
    image: "public/projects/svg1.webp",
    tags: [TAGS.NEXT, TAGS.TAILDWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, link, tags, image, github }) => (
    <article
      id="proyectos"
      class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 mt-16"
    >
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img
          class="rounded-2xl shadow-2xl shadow-white/10 h-58 w-140 object-cover object-top transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          src={image}
          alt={`captura de pantalla del proyecto ${image}`}
          loading="lazy"
        />
      </div>
      <div>
        <h3 class="text-2xl font-semibold text-white mb-2">{title}</h3>
        <ul class="flex gap-x-4 flex-row pt-2">
          {tags.map((tag) => (
            <li>
              <span class={`flex text-xs rounded-full gap-2 py-1 px-4 text-white ${tag.color}`}>
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <p class="mt-2 text-gray-700 dark:text-gray-400">{description}</p>

        <div class="flex gap-4 pt-4">
          <SocialPill href={link}>Saber más...</SocialPill>
          <SocialPill href={github}>
            <GitHub />
            GitHub
          </SocialPill>
        </div>
      </div>
    </article>
  ))
}
